{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{{about}}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.4.js' %}"></script>
    </head>
    <body>
        {% block content %}
           {% include 'component/nav.html' %}
            <div class="contact">
                <div class="title">
                    <h1>Resume</h1>
                    <div class="line"></div>
                </div>
 
                <div class="contact-content">
                    <div class="content">
                        <div class="content-item">
                            <div>
                              <i class="fa-solid fa-phone-volume" style="color:#317cf5"></i>
                            </div>
                            <div class="detail">
                                <h3>Phone</h3>
                                <span>+905338428756</span>
                            </div>
                        </div>

                        <div class="content-item">
                            <div>
                                <i class="fa-solid fa-envelope-open-text" style="color:#f5d431"></i>
                            </div>
                            <div class="detail">
                                <h3>Email</h3>
                                <span>michelnyembo.dev@gmail.com</span>
                            </div>
                        </div>

                        <div class="content-item">
                            <div>
                                <i class="fa-solid fa-map-location-dot" style="color:#52c908"></i>
                            </div>
                            <div class="detail">
                                <h3>Address</h3>
                                <span>CIU, North Cyprus</span>
                            </div>
                        </div>
                    </div>
                    <div class="form">
                        
                        <form>
                            <span>I'm always open to discuss with you</span>
                            <input type="text" name="name" placeholder="Name *" required />
                            <input type="email" name="email" placeholder="Email *" required />
                            <textarea name="message" placeholder="Message *" required></textarea>
                            <button type="submit">Submit</button>
                          </form>
                    </div>
                </div>
                <span style="text-align:center; margin-top:3rem;">&copy; {% now 'Y'%} All rights reserved by ThechPro (MichaelNyembo)</span>
            </div>
        {% endblock %}
    </body>
</html>